BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE
BOT_TIMEZONE=Asia/Yerevan
BOT_ADMINS=[123456789]
BOT_MODERS=[]
BOT_USE_REDIS=False

DB_URL=sqlite+aiosqlite:///anonchat_admin.sqlite3

FLYER_KEY=
FLYER_BASE_URL=https://api.flyerhubs.com
